:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
}

.header {
  background-color: #fff;
  padding: 0 16px;
  width: 100vw;
  font-family: "IBM Plex Mono", monospace;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.logo {
  height: 1.5rem;
}
.menu-nav {
  font-size: 1rem;
}
.menu-nav__list {
  list-style-type: none;
  position: absolute;
  background-color: #0000ec;
  display: inline-block;
  top: 2.75rem;
  left: 100vw;
  width: 100vw;
  transition-property: top, left, width;
  transition-duration: 300ms;
  z-index: -1;
}

.menu-nav__mobile-check {
  display: none;
}
.menu-nav__mobile-icon-bar {
  display: block;
  transition: font-size 200ms;
}
.menu-nav__mobile-icon-close {
  display: block;
  font-size: 0%;
  transition: font-size 200ms;
}
.menu-nav__mobile-check:checked ~ .menu-nav__list {
  display: block;
  left: 0;
  top: 2.75rem;
  width: 100vw;
}

.menu-nav__mobile-check:checked
  ~ .menu-nav__mobile-menu
  .menu-nav__mobile-icon-bar {
  font-size: 0%;
}

.menu-nav__mobile-check:checked
  ~ .menu-nav__mobile-menu
  .menu-nav__mobile-icon-close {
  font-size: 100%;
}

.menu-nav__item {
  height: 2.5rem;
}
.menu-nav__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  background-color: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  border: none;
  height: 3rem;
  min-width: 18rem;
  line-height: 1.375rem;
  width: 90%;
  text-decoration: none;
  color: #060a24;
}
.button__align-center-mobile {
  margin: auto;
}
.button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}
.main {
  position: relative;
  top: 2.75rem;
}
.main__tittle {
  display: block;
  font-size: 2.25rem;
  margin: 16px 0;
}
.main__first-line {
  display: block;
}
.main__word-lined {
  text-decoration: line-through;
}
.main__paragraph {
  margin-bottom: 2.25rem;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0;
  line-height: 22px;
  font-size: 0.875rem;
}
.episodes {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  overflow-y: visible;
}
.bg-non-rectangular {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(
    0px 32px,
    calc(100% + 32px) 0px,
    calc(100% + 32px) calc(100% - 32px),
    0px calc(100%)
  );
  position: absolute;
  top: -64px;
  left: -16px;
  right: -16px;
  height: calc(100% + 128px);
  z-index: -1;
}
.episodes__content {
  width: 100%;
}
.episodes__title {
  margin-top: 88px;

  font-size: 2.25rem;
  color: white;
}
.podcast {
  margin-top: 0.69rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.us {
  width: 100%;
  position: relative;
  margin-top: 48px;
}
.phone {
  width: 100%;
}
.us__tittle {
  font-size: 2.25rem;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 27px;
}
.us__about {
  margin-top: 8px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 22px;
}
.invited {
  margin-top: 54px;
}
.invited__tittle {
  font-size: 2.25rem;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 14px;
}
.invited__photos-content {
  display: flex;
  flex-flow: row wrap;
}
.invited__photo {
  position: relative;
  left: -16px;
  width: calc(100% + 32px);
  height: auto;
}
.topics {
  margin-top: 48px;
}
.topics__tittle {
  font-size: 2.25rem;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 24px;
}
.topics__content {
  margin-top: 13px;
}
.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.topic__img {
  height: 104px;
  width: 104px;
}
.topic__name {
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center;
}

.novelties {
  position: relative;
  height: 100%;
  margin-bottom: 100px;
}
.novelties__tittle {
  font-size: 2.25rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  margin: auto;
  margin-top: 44px;
  margin-bottom: 36px;
}
.novelties:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 200%;
  z-index: -1;
  left: -16px;
  top: -64px;
  width: calc(100% + 32px);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(
    0px 32px,
    calc(100% + 32px) 0px,
    calc(100% + 32px) calc(100%),
    0px calc(100%)
  );
}
.footer {
  height: 121px;
  background-color: #fff;
  width: calc(100% + 32px);
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__copy-right {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__icon {
  font-size: 28px;
  color: #060a24;
}

@media screen and (min-width: 500px) {
  body {
    padding: 0 50px;
  }
  .header {
    display: flex;
    height: 5rem;
    padding: 0 3rem;
    width: 100vw;
  }
  .button {
    width: 14.125rem;
  }
  .button__align-center-mobile {
    margin: 0%;
  }
  .logo {
    height: 3rem;
  }
  .menu-nav {
    width: 70%;
  }
  .menu-nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: static;
    background-color: transparent;
  }
  .menu-nav__mobile-icon-bar {
    display: none;
  }
  .menu-nav__item {
    height: 100%;
  }
  .menu-nav__link {
    color: #060a24;
    font-size: 1rem;
    padding: 0%;
  }
  .menu-nav__link:hover {
    text-decoration: line-through;
    color: #00f3bb;
  }
  .menu-nav__link:active {
    color: rgba(6, 10, 36, 0.56);
  }

  .main {
    position: relative;
    top: 5rem;
  }
  .main__first-line {
    display: inline;
  }
  .main__dot-tittle {
    color: #0000ec;
  }

  .bg-non-rectangular {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(
      0px 32px,
      calc(100% + 100px) 0px,
      calc(100% + 100px) calc(100% - 32px),
      0px calc(100%)
    );
    position: absolute;
    top: -64px;
    left: -50px;
    right: -50px;
    height: calc(100% + 128px);
    z-index: -1;
  }
  .episodes__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 12px;
  }
  .us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .phone {
    width: 360px;
    justify-self: center;
  }
  .us__tittle {
    align-self: flex-start;
  }
  .invited__photos-content {
    width: 100%;
    flex-direction: column;
  }
  .invited__photo {
    left: -50px;
    width: calc(100% + 100px);
    margin-top: -3px;
  }
  .topics__content {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .topic__name {
    width: 220px;
  }
  .novelties:before {
    left: -50px;
    width: calc(100% + 100px);
  }
  .button__novelties {
    margin: auto;
  }
  .footer {
    width: calc(100% + 100px);
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0 100px;
  }
  .header {
    max-width: 1200px;
    height: 80px;
  }
  .header:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100px;
    right: 100%;
    background: #fff;
  }
  .header:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100px;
    left: 100%;
    background: #fff;
  }
  .logo {
    height: 36px;
    width: 36px;
  }
  .menu-nav {
    width: 40%;
  }
  .main__tittle {
    font-size: 4rem;
  }
  .main__paragraph {
    font-size: 1rem;
    line-height: 24px;
    width: 628px;
  }
  .bg-non-rectangular {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(
      0px 32px,
      calc(100% + 200px) 0px,
      calc(100% + 200px) calc(100% - 32px),
      0px calc(100%)
    );
    position: absolute;
    top: -64px;
    left: -100px;
    right: -100px;
    height: calc(100% + 128px);
    z-index: -1;
  }
  .episodes__content {
    margin: 0;
    gap: 72px;
  }
  .us {
    display: grid;
    grid-template-areas:
      "ph ."
      "ph tit "
      "ph par"
      "ph .";
    justify-content: center;
    align-items: center;
    row-gap: 24px;
  }
  .phone {
    grid-area: ph;
  }
  .us__tittle {
    grid-area: tit;
    font-size: 48px;
  }
  .us__about {
    grid-area: par;
    font-size: 1rem;
    line-height: 24px;
  }
  .invited__photos-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    left: -100px;
    width: calc(100% + 200px);
    margin-top: 36px;
  }
  .invited__photo {
    width: 100%;
    left: unset;
  }
  .topics__content {
    display: flex;
    justify-content: space-between;
  }
  .novelties:before {
    left: -100px;
    width: calc(100% + 200px);
  }
  .footer {
    height: 95px;
    width: calc(100% + 200px);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
  }
  .footer__copy-right {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 28px;
  }
  .footer__social-networks {
    width: 234px;
  }
}
