:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* padding: 0 16px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060a24;
  /* width: 100vw; */
  /* overflow-x: hidden; */
}
.container {
  margin: 0 16px;
}
.header {
  background-color: #fff;
  padding: 0 16px;
  width: 100vw;
  /* max-width: 1200px; */
  font-family: "IBM Plex Mono", monospace;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.logo {
  height: 1.5rem;
}
.menu-nav {
  font-size: 1rem;
}
.menu-nav__list {
  list-style-type: none;
  position: absolute;
  background-color: #0000ec;
  display: inline-block;
  top: -500%;
  left: 0vw;
  width: 100vw;
  transition-property: top, left, width;
  transition-duration: 300ms;
}

.menu-nav__mobile-check {
  display: none;
}
.menu-nav__mobile-icon-bar {
  display: block;
  transition: font-size 200ms;
}
.menu-nav__mobile-icon-close {
  display: block;
  font-size: 0%;
  transition: font-size 200ms;
}
.menu-nav__mobile-check:checked ~ .menu-nav__list {
  display: block;
  left: 0;
  top: 2.75rem;
  width: 100vw;
}

.menu-nav__mobile-check:checked
  ~ .menu-nav__mobile-menu
  .menu-nav__mobile-icon-bar {
  font-size: 0%;
}

.menu-nav__mobile-check:checked
  ~ .menu-nav__mobile-menu
  .menu-nav__mobile-icon-close {
  font-size: 100%;
}

.menu-nav__item {
  height: 2.5rem;
}
.menu-nav__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  background-color: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  border: none;
  height: 3rem;
  min-width: 18rem;
  line-height: 1.375rem;
  width: 90%;
  text-decoration: none;
  color: #060a24;
}
.button__align-center-mobile {
  margin: auto;
}
.button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}
.main {
  position: relative;
  top: 2.75rem;
  /* width: 100%; */
}
.main__tittle {
  display: block;
  font-size: 2.25rem;
  margin: 16px 0;
}
.main__first-line {
  display: block;
}
.main__word-lined {
  text-decoration: line-through;
}
.main__paragraph {
  margin-bottom: 2.25rem;
}
.episodes {
  position: relative;
  width: 100%;

  margin-top: 1.5rem;
}
.bg-non-rectangular {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(
    0px 32px,
    calc(100% + 32px) 0px,
    calc(100% + 32px) calc(100% - 32px),
    0px 100%
  );
  position: absolute;
  top: -64px;
  left: -16px;
  right: -16px;

  /* width: 100vw; */
  height: calc(100% + 128px);
  z-index: -1;
}
.episodes__content {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* background-color: #0ff; */
}
.episodes__title {
  margin-top: 88px;

  font-size: 2.25rem;
  color: white;
}
.podcast {
  margin-top: 0.69rem;
  width: 100%;
  /* height: 225px; */
  /* background-color: aliceblue; */
  border: none;
  overflow: hidden;
  /* display: flex; */
  /* margin: 0px; */

  /* frameborder="0"
            allowtransparency="true"
            allow="encrypted-media" */
}
@media screen and (min-width: 600px) {
  .header {
    box-sizing: content-box;
    max-width: 1200px;
    display: flex;
    height: 5rem;
    padding: 0 3rem;
    width: 100vw;
  }
  .button {
    width: 14.125rem;
  }
  .button__align-center-mobile {
    margin: 0%;
  }
  .logo {
    height: 3rem;
  }
  .menu-nav {
    width: 80%;
  }
  .menu-nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: static;
    background-color: transparent;
  }
  .menu-nav__mobile-icon-bar {
    display: none;
  }
  .menu-nav__item {
    height: 100%;
  }
  .menu-nav__link {
    color: #060a24;
    font-size: 1rem;
    padding: 0%;
  }
  .menu-nav__link:hover {
    text-decoration: line-through;
    color: #00f3bb;
  }
  .menu-nav__link:active {
    color: rgba(6, 10, 36, 0.56);
  }

  .main {
    position: relative;
    top: 5rem;
  }
  .main__first-line {
    display: inline;
  }
}
